.users-list {
    color: black;
}

.user-userid {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.user-title {
    font-size: medium;
    font-weight: 500;
    text-align: start;
}

button {
    border-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--pink);
    background-color: transparent;
}

.col-name {
    border-left: 3px solid var(--pink);
}

.card-body {
    padding: 0px !important
}

h2 {
    text-align: center;
}