<div class="row d-flex flex-direction-column justify-content-center">
    <div class="card my-2 m-3" style="width: 80%;">
        <div class="card-body">
             <div class="row d-flex align-items-center">
                <div class="col-auto ms-4">
                    <span class="post-userid">Usuario {{post.userId}} </span>
                </div>
                <div class="col-auto">
                    <button class="btn p-0 ms-1" [routerLink]="['/usuarios', post.userId]">Detalles</button>
                </div>
            </div>
            <h3 class="post-title my-3 p-3">{{post.title}}</h3>
            <p>{{post.body}}</p>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 p-0">
        <div class="card my-2 d-flex m-3">
            <div class="card-body row justify-content-center">
                <div class="col-auto my-2">
                    <span class="post-coments">{{comments.length}} comentarios</span>
                </div>
                <div class="col-auto" *ngIf="!viewComments; else commentsDetails">
                    <button class="btn p-1" (click)="seeCommentsDetails()">Ver los comentarios</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #commentsDetails>
    <div *ngFor="let comment of comments">
        <div class="card my-2 d-flex m-3">
            <div class="card-body">
                <p class="comment-email">{{comment.email}}</p>
                <h5>{{comment.name}}</h5>
                <p class="comment-body">{{comment.body}}</p>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <button class="btn p-1" (click)="hideCommentsDetails()">Ocultar</button>
    </div>
</ng-template>


