<div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>SignIn</h3> 
            </div>
            <div class="card-body">
                <form [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">
                    <div class="form-group mt-2 mb-4">
                        <input type="text" formControlName="email" name="email" class="form-control" placeholder="Email" required autofocus>
                        <div *ngIf="userForm.controls.email.status === 'INVALID' && userForm.controls.email.touched === true" class="invalid-field">Ingresa un email válido</div>
                    </div>
                    
                    
                    <div class="form-group mb-4">
                        <input type="user" formControlName="username" name="username" class="form-control" placeholder="Nombre de usuario" required>
                        <div *ngIf="userForm.controls.username.status === 'INVALID' && userForm.controls.username.touched === true" class="invalid-field">Ingresa un usuario válido (mínimo de 4 caracteres)</div>
                    </div>
                    
                    <div class="d-grid">
                        <button [disabled]="userForm.invalid" class="btn">
                            SignIn
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>